name: Docker image CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/**'
      - '13.23/**'
      - '14.20/**'
      - '15.15/**'
      - '16.11/**'
      - '17.6/**'
      - '18.0/**'
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  build-docker-images:
    runs-on: [ubuntu-24.04]

    strategy:
      fail-fast: false
      matrix:
        version: [13.23-trixie, 14.20-trixie, 15.15-trixie, 16.11-trixie, 17.6-trixie, 18.0-trixie]
        include:
          - version: 13.23-trixie
            docker-context: 13.23/debian/default
            docker-tags: |
              nicoherbigde/postgresql:13.23
              nicoherbigde/postgresql:13.23-trixie
          - version: 14.20-trixie
            docker-context: 14.20/debian/default
            docker-tags: |
              nicoherbigde/postgresql:14.20
              nicoherbigde/postgresql:14.20-trixie
          - version: 15.15-trixie
            docker-context: 15.15/debian/default
            docker-tags: |
              nicoherbigde/postgresql:15.15
              nicoherbigde/postgresql:15.15-trixie
          - version: 16.11-trixie
            docker-context: 16.11/debian/default
            docker-tags: |
              nicoherbigde/postgresql:16.11
              nicoherbigde/postgresql:16.11-trixie
          - version: 17.6-trixie
            docker-context: 17.6/debian/default
            docker-tags: |
              nicoherbigde/postgresql:17.6
              nicoherbigde/postgresql:17.6-trixie
          - version: 18.0-trixie
            docker-context: 18.0/debian/default
            docker-tags: |
              nicoherbigde/postgresql:18.0
              nicoherbigde/postgresql:18.0-trixie

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and Push it to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-context }}
          no-cache: true
          pull: true
          push: true
          tags: ${{ matrix.docker-tags }}
